@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?igkql4") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-up:before {
  content: "\e923";
}
.icon-link:before {
  content: "\e922";
}
.icon-caret-up:before {
  content: "\e921";
}
.icon-caret-left:before {
  content: "\e91c";
}
.icon-close:before {
  content: "\e91b";
}
.icon-play:before {
  content: "\e919";
}
.icon-quote-left:before {
  content: "\e91a";
}
.icon-graph:before {
  content: "\e91d";
}
.icon-main-component:before {
  content: "\e91e";
}
.icon-rocket-filled:before {
  content: "\e91f";
}
.icon-triangle:before {
  content: "\e920";
}
.icon-lamp:before {
  content: "\e911";
}
.icon-ai:before {
  content: "\e909";
}
.icon-architecture:before {
  content: "\e90a";
}
.icon-bi:before {
  content: "\e90b";
}
.icon-card:before {
  content: "\e90c";
}
.icon-chess:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-goystick:before {
  content: "\e90f";
}
.icon-mvp:before {
  content: "\e910";
}
.icon-rocket:before {
  content: "\e912";
}
.icon-ui:before {
  content: "\e913";
}
.icon-value:before {
  content: "\e915";
}
.icon-way:before {
  content: "\e914";
}
.icon-deepspinner:before {
  content: "\e908";
}
.icon-caret-down:before {
  content: "\e917";
}
.icon-caret-right:before {
  content: "\e918";
}
.icon-logo:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-goto:before {
  content: "\e901";
}
.icon-flash:before {
  content: "\e900";
}
